@keyframes scrolling {
  0% {
    transform: translateX(var(--scroll-space));
  }
  20% {
    transform: translateX(var(--scroll-space));
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.spotify-modal {
  --spotify-darker: #0a963c;
  display: flex;
  flex-direction: column;
  background: var(--background-secondary-alt);
}

.spotify-modal.custom-dark {
  background: var(--bg-overlay-2, var(--background-secondary-alt));
}

.spotify-modal.custom-light {
  background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.hidden {
  display: none !important;
}

.spotify-modal .header {
  display: flex;
  height: 45px;
  margin-top: 10px;
  padding-bottom: 6px;
  padding-left: 8px;
}

.spotify-modal .header .cover-art {
  border-radius: 8px;
  max-height: 80%;
  max-width: 80%;
  object-fit: contain;
}

.spotify-modal .header .cover-art.href:hover {
  cursor: pointer;
}

.spotify-modal .header .track-info {
  margin-top: 4px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  max-width: 175px;
  overflow: hidden;
  white-space: nowrap;
}

.spotify-modal .header .track-info .title {
  color: var(--header-primary);
  font-size: 14px;
  font-family: var(--font-primary);
  font-weight: 600;
  cursor: default;
  text-decoration: none;
  padding-bottom: 3px;
}

.spotify-modal .header .track-info .title.href:hover {
  text-decoration: underline;
  cursor: pointer;
}

.spotify-modal .header .track-info .artists {
  color: var(--header-secondary);
  font-size: 12px;
}

.spotify-modal .header .track-info .title.overflow,
.spotify-modal .header .track-info .artists.overflow {
  animation-direction: alternate-reverse;
  animation-duration: var(--animation-duration);
  animation-iteration-count: infinite;
  animation-name: scrolling;
  animation-play-state: running;
  animation-timing-function: linear;
}

.spotify-modal .header .track-info .title.overflow:hover,
.spotify-modal .header .track-info .artists.overflow:hover {
  animation-play-state: paused;
}

.spotify-modal .header .track-info .artists .artist {
  color: var(--header-secondary);
  text-decoration: none;
}

.spotify-modal .header .track-info .artists .artist:hover {
  color: var(--text-normal);
  text-decoration: underline;
}

.spotify-modal .dock {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
}

.spotify-modal .dock .progress-display {
  display: flex;
  position: relative;
  color: var(--text-normal);
  top: -5px;
  left: 8px;
  height: 16px;
  font-size: 12px;
}

.spotify-modal .dock .progress-display .duration {
  margin-left: auto;
  margin-right: 16px;
}

.spotify-modal .dock .seek-bar {
  border-radius: 8px;
  background-color: var(--background-modifier-accent);
  height: 5px;
  width: calc(100% - 10px);
  position: relative;
  top: -3px;
  left: 5px;
}

.spotify-modal .dock .seek-bar .inner {
  background-color: var(--spotify);
  height: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.spotify-modal .dock .controls {
  padding-top: 5px;
  padding-left: 5px;
  height: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.spotify-modal .dock .controls svg {
  background: var(--bg-overlay-1, var(--background-primary));
  border-radius: 8px;
  color: var(--text-normal);
  min-width: 26px;
  height: 26px;
  transition-duration: 400ms;
}

.spotify-modal .dock .controls .skip-prev {
  margin-left: auto;
}

.spotify-modal .dock .controls .play-pause {
  margin: 0px 10px;
}

.spotify-modal .dock .controls .repeat {
  margin: 0px 10px 0px auto;
}

.spotify-modal .dock .controls svg.active,
.spotify-modal .dock .controls svg:not(.active):hover {
  color: var(--spotify);
}

.spotify-modal .dock .controls svg.active:hover {
  color: var(--spotify-darker);
}
