@keyframes scrolling {
  0% {
    transform: translateX(var(--scroll-space));
  }
  20% {
    transform: translateX(var(--scroll-space));
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.spotify-modal {
  --spotify-darker: #0a963c;
  display: flex;
  flex-direction: column;
  background: var(--background-secondary-alt);
  height: 100%;
}

.spotify-modal.custom-dark {
  background: var(--bg-overlay-2, var(--background-secondary-alt));
}

.spotify-modal.custom-light {
  background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.spotify-modal-root .hidden {
  display: none !important;
}

.spotify-modal > .header {
  display: flex;
  height: 45px;
  padding: 6px;
  gap: 6px;
  align-items: center;
}

.spotify-modal > .header > .cover-art {
  border-radius: 6px;
  max-width: 38px;
  object-fit: contain;
}

.spotify-modal > .header > .cover-art:hover {
  cursor: pointer;
}

.spotify-modal > .header > .track-info {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  overflow: hidden;
  white-space: nowrap;
}

.spotify-modal > .header > .track-info > .title {
  color: var(--header-primary);
  max-width: -webkit-fill-available;
  width: fit-content;
  font-size: 14px;
  font-family: var(--font-primary);
  font-weight: 600;
  cursor: default;
  text-decoration: none;
  padding-bottom: 3px;
}

.spotify-modal > .header > .track-info > .title.href:hover {
  text-decoration: underline;
  cursor: pointer;
}

.spotify-modal > .header > .track-info > .artists {
  color: var(--header-secondary);
  max-width: -webkit-fill-available;
  width: fit-content;
  font-size: 12px;
}

.spotify-modal > .header > .track-info > .title.overflow,
.spotify-modal > .header > .track-info > .artists.overflow {
  animation-direction: alternate-reverse;
  animation-duration: var(--animation-duration);
  animation-iteration-count: infinite;
  animation-name: scrolling;
  animation-play-state: running;
  animation-timing-function: linear;
}

.spotify-modal > .header > .track-info > .title.overflow:hover,
.spotify-modal > .header > .track-info > .artists.overflow:hover {
  animation-play-state: paused;
}

.spotify-modal > .header > .track-info > .artists > .artist {
  color: var(--header-secondary);
  text-decoration: none;
}

.spotify-modal > .header > .track-info > .artists > .artist:hover {
  color: var(--text-normal);
  text-decoration: underline;
}

.spotify-modal > .dock {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
  align-items: center;
}

.spotify-modal > .dock > .progress-display {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  margin: 0 8px;
  color: var(--text-normal);
  height: 16px;
  font-size: 12px;
}

.spotify-modal > .dock > .seek-bar {
  border-radius: 2px;
  background-color: var(--background-modifier-accent);
  height: 4px;
  width: calc(100% - 10px);
}

.spotify-modal > .dock > .seek-bar > .inner {
  background-color: var(--spotify);
  height: 100%;
  max-width: 100%;
  border-radius: 2px;
}

.spotify-modal > .dock > .controls {
  justify-content: space-around;
  gap: 10px;
  height: 24px;
  padding: 10px 0 5px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
}

.spotify-modal > .dock > .controls > svg {
  background-color: var(--background-modifier-hover);
  border-radius: 4px;
  color: var(--text-normal);
  min-width: 26px;
  height: 26px;
  transition-duration: 400ms;
}

.spotify-modal > .dock > .controls > svg.active,
.spotify-modal > .dock > .controls > svg:not(.active):hover {
  color: var(--spotify);
  background-color: var(--background-modifier-active);
}

.spotify-modal > .dock > .controls > svg.active:hover {
  color: var(--spotify-darker);
  background-color: var(--background-modifier-selected);
}

.spotify-modal > .divider {
  background-color: var(--background-modifier-accent);
  height: 1px;
}
